flows.json
[
    {
        "id": "f2747410edf88ce2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35320561a523f1d7",
        "type": "inject",
        "z": "f2747410edf88ce2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hola UTMACH",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "1e6f9a7956657177"
            ]
        ]
    },
    {
        "id": "1e6f9a7956657177",
        "type": "debug",
        "z": "f2747410edf88ce2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "ec36cac682941172",
        "type": "change",
        "z": "f2747410edf88ce2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            []
        ]
    }
]